* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3c4043;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

header nav.nav-logo {
  padding-bottom: 20px;
}

header nav.nav-logo span img {
  vertical-align: middle;
}

header nav.nav-logo span a {
  font-size: 22px;
  vertical-align: bottom;
  text-decoration: none;
  color: #5f6368;
}

header nav.nav-menu ul {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

header nav.nav-menu ul li {
  padding-bottom: 10px;
}

header nav.nav-menu ul li.active {
  border-bottom: 3px solid #3367d6;
}

header nav.nav-menu ul li a {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #5f6368;
}

header nav.nav-menu ul li.active a {
  color: #3367d6;
}

.faq {
  padding: 100px 0;
}

.domande {
  padding: 15px;
}

p.text {
  padding: 15px 0;
  line-height: 1.5;
}

footer {
  padding: 15px;
  background-color: #f5f5f5;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

footer ul li {
  padding: 10px;
}

footer ul li small a {
  color: #5f6368;
  text-decoration: none;
}

