$general_spacing: 100px 0;
$general_padding: 15px;
$general_fontSize: 14px;

$header_padding: 20px 20px 0 20px;
$nav_padding: 20px;
$font_size_span_a: 22px;
$paragraph_padding: 15px 0;
$paragraph_lineHeight: 1.5;
$link_menu_padding: 10px;
$link_menu_color: #5f6368;
$link_active_menu_color: #3367d6;

$footer_background: #f5f5f5;
$footer_menu_padding: 10px;
