$general_padding: 30px;

$header_padding: 20px 20px 0 20px;
$nav_padding: 20px;
$font_size_span_a: 22px;
$paragraph_padding: 15px 0;
$link_menu_padding: 10px;
$link_menu_color: #5f6368;
$link_active_menu_color: #3367d6;
